.game {
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .main {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .confirmElement {
      min-height: 10vh;
      width: 100%;
    }

    .hintElement {
      flex: 1 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .inputElement {
      flex: 1 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .buttonElements {
      width: 100%;
    }
  }
}
