.game {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .confirmElement {
    width: 100%;
  }

  .hintElement {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .inputElement {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .buttonElements {
    width: 100%;
  }
}
