.borderCircle {
  border: 1px solid #aaa;
  border-radius: 50%;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerLargeCardsContainer {
  display: flex;
  justify-content: center;
}
