.title {
  font-size: 4vw;
  font-weight: bold;
}

.heading {
  font-size: 3vw;
  font-weight: normal;
}

.article {
  font-size: 3vw;
  font-weight: lighter;
}

.text {
  font-size: 2vw;
  font-weight: normal;
}

.sentence {
  font-size: 1vw;
  font-weight: lighter;
}
