.title {
  font-size: 3em;
  font-weight: bold;
}

.heading {
  font-size: 3em;
  font-weight: normal;
}

.article {
  font-size: 2em;
  font-weight: lighter;
}

.text {
  font-size: 1.5em;
  font-weight: normal;
}

.sentence {
  font-size: 1em;
  font-weight: lighter;
}
